<!DOCTYPE html>
<html>
<head>
	<title>BLive Server Cloud</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/narrow-jumbotron.css">
	<!-- AngularJS -->
	<!-- <script src="/js/angular.min.js"></script> -->
	<!-- <script src="/js/angular-route.js"></script> -->
</head>