<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/controller">Controller</a>
            <a class="dropdown-item" href="/room">Room</a>
            <a class="dropdown-item" href="/zone">Zone</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/account">Account</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted"><a href="/" style="text-decoration: none; color: black">BLive</a></h3>
</div>