<% include ../partials/head %>

<body>
    <div class="container">
          <% include ../partials/nav %>

          <div class="jumbotron">
            <p>Raspberry id : <%= raspberryID %></p>
            <p>Username : <%= userName %></p>
            <p>Email : <%= userEmail %></p>
          </div>

          <% include ../partials/footer %>
    </div>
</body>

<% include ../partials/scripts %>

</html>