<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Awwe Some!</h1>
			<h3>Petotikue is here!</h3>
		</div>
	</main>

</body>
<footer>
	<% include ../partials/footer %>
</footer>
</html>